h1 {    /*h1 sebai selector*/
    color: cyan;    /*dan baris ini namanya adalah deklarasi*/
    margin: 2px;    /*CSS tidak menggunakan spasi dalam menuliskan satuan nilai dalam deklarasi*/
}

/*Jenis Selector*/
/*Type selector*/
span {
    color: red; /*Semua yang berada di element span akan berwarna merah*/
}

/*Class Selector*/ 
.red {      /*diletakkan di atribut yang ditargetkan. dan memakai titik*/
    text-align: center;
    color: salmon;
}
<p class="red">Paragraf dengan teks berwarna merah</p>

/*ID Selector*/
#special {      /*Penulisan menggunakan tanda pagar(#)*/
    background-color: skyblue;
}
<div id="special">
   <p>Ini merupakan konten di dalam sebuah div yang diberi id special.</p>
</div>      /*Namun atribut id ini tidak bersifat shareable, yang artinya nilai id ini harus unik dan digunakan pada satu elemen saja.*/

/*Child Selector (>)*/
div > p {
    background-color: yellow;
}

<div>
   <p>Paragraf pertama. di dalam div.</p>
   <p>Paragraf kedua. di dalam div.</p>
   <section><p>Paragraf ketiga. di dalam div namun bukan sebagai anak elemen secara langsung.</p></section>
   <p>Paragraf keempat. di dalam div.</p>
</div>
<p>Paragraf kelima. di luar div.</p>
<p>Paragraf keenam. di luar div.</p>




/*Atribute selector___________________________________________________________________________________________________________________________*/
/* <a> element yang menerapkan href attribut */
a[href] {       /*Attribute selector merupakan cara menetapkan target elemen berdasarkan sebuah atribut yang digunakan atau bahkan bisa lebih spesifik dengan nilainya*/
    color: blue;
}

/* <a> element yang menerapkan nilai pada href dengan awalan "#" */
a[href^="#"] {
    background-color: gold;
}

/* <a> element yang menerapkan nilai pada href yang mengandung teks "example" */
a[href*="example"] {
    background-color: silver;
}

/* <a> element yang menerapkan nilai pada href yang mengandung teks "insensitive" tidak mementingkan huruf kapital*/
a[href*="insensitive" i] {
    color: cyan;
}

/* <a> element yang menerapkan nilai pada href dengan akhiran ".org" */
a[href$=".org"] {
    color: red;
}
<ul>
   <ul>
       <li><a href="#internal">Internal link</a></li>
       <li><a href="http://example.com">Example link</a></li>
       <li><a href="#InSensitive">Insensitive internal link</a></li>
       <li><a href="http://example.org">Example org link</a></li>
   </ul>
</ul>

/*Pseude Selector______________________________________________________________________________________________________________*/
/*Pseudoc class selector*/
a:link {    /* rule akan diterapkan pada sebuah tautan yang belum pernah dikunjungi */
    color: red;
 }
 
 /* rule akan diterapkan pada sebuah tautan yang sudah pernah dikunjungi */
 a:visited {    /*Untuk menggunakan pseudo-class kita gunakan tanda titik dua (:) pada basic selector kemudian diikuti dengan pseudo-class nya*/
    color: green;
 }
 
 /* rule akan diterapkan pada sebuah tautan ketika diarahkan dengan kursor */
 a:hover {
    color: pink;
 }
 
 /* rule akan diterapkan pada sebuah tautan ketika ditekan */
 a:active {
    color:orange;
 }

/*Pseudo element selector*/
/*Selector ini biasa digunakan ketika kita ingin menambahkan sebuah konten tepat sebelum dan setelah sebuah elemen paragraf*/
blockquote::before,
blockquote::after {     /*Untuk menggunakan pseudo-elemen kita gunakan tanda (::), diikuti dengan pseudo-elemen nya*/
   content: '"';
   font-size: 24px;
   font-style: italic;
   font-weight: bold;
}
<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eius error explicabo ipsum molestiae necessitatibus </blockquote>

p::first-letter {
    font-size: 32px;
    font-weight: bold;
    color: saddlebrown;
}
<p> Test</p>


font-weight /*mengatur ketebalan font*/
Text Indent /*membuat seperti paragraf*/
Text Alignment /*posisi text ditengah atau kanan kiri*/
Text Decoration     /*membuat garis bawah atau underline pada teks*/
Text Transform  /*mengubah kapitalisasi pada teks*/
Text Shadow /*membuat text seperti bayangan*/
p#one {
    text-shadow: 1px 1px 0px #000000;
    background-color: #eeeeee;
    color: #666666;
}
 
p#two {
    text-shadow: 1px 1px 3px #666666;
    background-color: #dddddd;
    color: #666666;
}

/*Margin*/
p {
    margin: 2px 3px 2px 3px;    /*Menetapkan jarak antara element atau tepi browser*/
}

/*Display role*/
li {
    display: inline;        /*membuat tampilan seperti menu kesamping*/
    border-radius: 4px;     /*menambah efek rounded corner*/
    margin-left: 5px;
}
<ul>
   <li>Home</li>
   <li>Product</li>
   <li>About</li>
   <li>Contact</li>
</ul>

/*Box shadow*/
box-shadow: 6px 6px 5px 10px #666666;
/*•Nilai pertama : menunjukkan seberapa jauh ke kiri atau kanan (horizontal) bayangan harus ditampakkan.
•Nilai kedua : menunjukkan jarak ke atas atau ke bawah (vertical) bayangan harus ditampakkan. 
•Nilai Ketiga (opsional) : menentukan tingkat keburaman yang harus diterapkan pada bayangan.
•Nilai Keempat (opsional) : menentukan tingkat sebaran (spread) bayangan. Semakin besar nilai yang ditentukan, bayangan yang nampak pun semakin luas.

•Nilai Kelima : menentukan warna yang digunakan pada bayangan*/

/*Position Absolute*/
/*fixed Position*/
.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

/*Floating*/
* {
    /* digunakan untuk menghapus seluruh padding dan margin standar yang diberikan browser pada elemen */
    margin: 0;
    padding: 0;

    /* Menggunakan border-box dalam perhitungan dimensi box-nya */
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
}

.left-content {
    text-align: center;
    line-height: 400px;
    width: 30%;
    height: 100%;
    background-color: #00c7ed;

    /* digunakan untuk memindahkan posisi elemen ke sisi kiri container */
    float: left;
}

.right-content {
    text-align: center;
    line-height: 400px;
    width: 70%;
    height: 100%;
    background-color: #60d0a8;

    /* digunakan untuk memindahkan posisi elemen ke sisi kanan container */
    float: right;
}
</style>
</head>
<body>
<div class="container">
<div class="left-content">
<h3>Left Content</h3>
</div>
<div class="right-content">
<h3>Right Content</h3>
</div>
</div>


/* Rule yang dituliskan dalam block @media di bawah akan diterapkan pada device yang memiliki ukuran viewport di bawah 992px */
@media screen and (max-width: 992px) {
  ........
 }
  /* Rule yang dituliskan dalam block @media di bawah akan diterapkan pada device yang memiliki ukuran viewport di bawah 600px */
 @media screen and (max-width: 600px) {
    ........
 }